<div class="body">
    <div class="container">
        
            <div class="col-md-6" style="background-color: white; width: 35vw;">
                <div class="right">
                    <h3 class="p-5">Login</h3>
                    <div class="inputs">
                        <form id="loginForm">
                            <input type="text" id="username" class="form-control" placeholder="Username">
                            <input type="password" id="password" class="form-control" placeholder="Password">
                            <span id="errorMessage" style="color: red;"></span>
                            <button type="submit">Login</button>
                        </form>
                    </div>
                    <p>Don't have an account? <a href="a"routerLink="/register">Create an Account</a></p>
                </div>
            <!-- </div> -->
        </div>
    </div>
    </div>