<app-header></app-header>
<div class="body">
 
  <div *ngIf="book" style="margin-top: 8%; ">
    <div class="col-sm-2">
      <div class="container">
      <div class="left">
        <img [src]="book.imageUrl" [alt]="book.title" width="100%">
      </div>
      <div class="right">
        <h1 class="card-title">{{ book.title }}</h1>
        <h5 class="my-1">
          <strong>Author:</strong> {{ book.author }}
        </h5>
        <h5 class="my-1">
          <strong>Publish Year:</strong> {{ book.publishYear }}
        </h5>
      </div>
      </div>
    <div class="row align-items-center">
      <div class="col-sm-10">
        <div class="card-body">
          <p class="my-1">
            <strong>Summary:</strong>
          </p>
          <p class="my-1">
            {{ book.summary }}
          </p>
        </div>
      </div>
      <div class="cl">
        <button type="button" class="btn btn-outline-secondary" routerLink="/read">Ok
        </button>
      </div>
    </div>
  </div>
</div>
</div>