<app-header></app-header>
<div class="body">
  <div class="button-container mt-5">
    <div class="button-row">
      <button class="button create" routerLink="/create">
        <i class="fas fa-plus"></i>
        Add
      </button>
      <button class="button read" routerLink="/read">
        <i class="fas fa-book"></i>
        View
      </button>
    </div>
    <div class="button-row">
      <button class="button update" routerLink="/update">
        <i class="fas fa-pencil-alt"></i>
        Update
      </button>
      <button class="button delete" routerLink="/delete">
        <i class="fas fa-trash-alt"></i>
        Delete
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
